
WebApplication1/bin/Debug/netcoreapp3.1/API.deps.json
*.dll
WebApplication1/.vs/COAChallenge/DesignTimeBuild/.dtbcache.v2
WebApplication1/.vs/COAChallenge/v16/.suo
WebApplication1/.vs/COAChallenge/v16/.suo
WebApplication1/bin/Debug/netcoreapp3.1/API.exe
WebApplication1/bin/Debug/netcoreapp3.1/API.pdb
WebApplication1/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
WebApplication1/bin/Debug/netcoreapp3.1/API.runtimeconfig.json
WebApplication1/bin/Debug/netcoreapp3.1/API.Views.pdb
WebApplication1/bin/Debug/netcoreapp3.1/appsettings.Development.json
WebApplication1/bin/Debug/netcoreapp3.1/appsettings.json
WebApplication1/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
WebApplication1/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
WebApplication1/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
WebApplication1/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
WebApplication1/.vs/COAChallenge/v16/.suo
WebApplication1/.vs/COAChallenge/v16/.suo
WebApplication1/.vs/COAChallenge/v16/.suo
